//- Incorporate default page layout
extends layout.pug

//- edit page title
block title
  title= "Dashboard"

//- insert page content
block content
  if msg
    case status
      when 1
        div(class="msg springgreen")
          p
            span= msg
            button(id="close" class="button button-default h5" onclick="removeElement(this.parentNode)") Close
      when 2
        div(class="msg blueviolet")
          p
            span= msg
            button(id="close" class="button button-default h5" onclick="removeElement(this.parentNode)") Close
      default
        div(class="msg blueviolet")
          p
            span= msg
            button(id="close" class="button button-default h5" onclick="removeElement(this.parentNode)") Close
  .container
    .row
      div(class="col-pp-100")
        h2(class="text-center ttitle")= "Administration Dashboard"
        .row
          .col-pp-100
            h2 Sell Ticket
            form(action="/home/admin/sell" method="POST")
              div(class="form-inline row")
                div(class="form-part col-pp-100 col-dt-20")
                  input(type="number" id="tck_num" name="tck_num" placeholder="Insert ticket num" min="1" max="1050" autofocus)
                div(class="form-part col-pp-100 col-dt-40")
                  input(type="text" id="fname" name="fname" placeholder="Insert first name")
                div(class="form-part col-pp-100 col-dt-40")
                  input(type="text" id="lname" name="lname" placeholder="Insert last name")
              .row
                div(class="form-part col-pp-100 col-dt-20")
                  button(class="button button-default button-full-width h4" type="submit")= "Sell"
        .row
          .col-pp-100
            h2 Delete entrance
            form(action="/home/admin/entered/undo" method="POST")
              div(class="form-inline row")
                div(class="form-part col-pp-100 col-dt-40")
                  input(type="number" id="tck_num" name="tck_num" placeholder="Insert ticket num" min="1" max="1050")
                div(class="form-part col-pp-100 col-dt-40")
                  button(class="button button-default button-full-width h4" type="submit")= "Exit"
        .row
          .col-pp-100
            h2 Get the vendor
            form(action="/home/admin/ticket/vendor" method="POST")
              div(class="form-inline row")
                div(class="form-part col-pp-100 col-dt-40")
                  input(type="number" id="tck_num" name="tck_num" placeholder="Insert ticket num" min="1" max="1050")
                div(class="form-part col-pp-100 col-dt-40")
                  button(class="button button-default button-full-width h4" type="submit")= "Get Vendor"
        .row
          .col-pp-100
            h2 Other Actions
            a(href="/home" class="button button-outlined col-pp-100 col-dt-33 h4 text-center no-right-margin")= "Home"
            a(href="/home/tickets" class="button button-outlined col-pp-100 col-dt-33 h4 text-center no-right-margin")= "Tickets"
            a(href="/home/tickets-info" class="button button-outlined col-pp-100 col-dt-33 h4 text-center no-right-margin")= "Tickets Info"

  script.
    function removeElement(e) {
      let elem = e;
      elem.parentNode.removeChild(elem);
    }


