//- Incorporate default page layout
extends layout.pug

//- edit page title
block title
  title= "Home"

//- insert page content
block content
  .container
    .row
      div(class="col-pp-100")
        h2(class="text-center ttitle") Ticket <strong>#{ticket_num}</strong> details
        p(class="big-font") First Name: <em>#{first_name}</em>
        p(class="big-font") Last Name: <em>#{last_name}</em>
        p(class="big-font") Ticket Type: <strong>#{ticket_type} €</strong>
        if entered
          p(class="big-font") Date of entrance: <em>#{entered}</em>
        else
          p(class="big-font") Date of entrance: <em>None</em>
        .inlined2
          p(class="big-font") Status:
          if entered
            if sold
              div(class="status-box ok")
            else
              div(class="status-box error")
          else
            if sold
              div(class="status-box noop")
            else
              div(class="status-box unsold")
    .row
      div(class="col-pp-100 inlined2 ttitle")
        a(href="/home/tickets" class="button button-outlined h4")= "Tickets"
        a(href="/home" class="button button-outlined h4")= "Home"
