//- Incorporate default page layout
extends layout.pug

//- edit page title
block title
  title= "Home"

//- insert page content
block content
  .container
    .row
      div(class="col-pp-100 col-tl-50 offset-tl-25 offset-dt-25")
        img(class="b-logo" src="/butterfly.svg")
        h2(class="text-center title")= "Festa di Primavera 2017"
        p(class="text-center")= "Tickets Manager"

        .row
          .col-pp-100
            form(action="/home/tickets/entered" method="POST")
              .form-part
                input(type="number" id="tck_num" name="tck_num" placeholder="Check the ticket number" min="1" max="1050" autofocus)
              .form-part
                button(class="button button-default button-full-width h4" type="submit")= "Check Ticket"

        .row
          .col-pp-100
            h2 Other Actions
            a(href="/home/tickets" class="button button-outlined button-full-width h4 text-center")= "Tickets"
            a(href="/home/admin/dashboard" class="button button-outlined button-full-width h4 text-center")= "Admin"
            a(href="/logout" class="button button-outlined button-full-width h4 text-center")= "Logout"

