//- Incorporate default page layout
extends layout.pug

//- edit page title
block title
  title= "Tickets"

//- insert page content
block content
  div(class="container-full-width")
    .row
      .col-pp-100
        .inlined
          p
            a(href="/home") Home
          h1 Tickets
          p  Entered: <strong>#{tentered}</strong>

        .tickets-container
          each t in tickets
            if t.entered
              .ok
                a(href=`/home/tickets/${t.ticket_num}` id=`${t.ticket_num}`)= t.ticket_num
            else if t.sold
              .noop
                a(href=`/home/tickets/${t.ticket_num}` id=`${t.ticket_num}`)= t.ticket_num
            else
              .unsold
                a(href=`/home/tickets/${t.ticket_num}` id=`${t.ticket_num}`)= t.ticket_num
